branca==0.8.1
folium==0.19.5
geopandas==1.0.1
geopy==2.4.1
haversine==2.9.0
matplotlib==3.10.1
networkx==3.2.1
numpy==2.2.4
pandas==2.2.3
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
Shapely==2.1.0
streamlit==1.44.1
streamlit_folium==0.24.1
